<!-- URL =https://www.gioszapatos.shop/--><!-- w =(['GIOSZAPATOS.SHOP', 'gioszapatos.shop'], [datetime.datetime(2021, 4, 5, 2, 59, 26), datetime.datetime(2021, 4, 5, 2, 59, 25)], [datetime.datetime(2022, 4, 5, 23, 59, 59), datetime.datetime(2022, 4, 5, 2, 59, 25)])--><!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <meta content="no" http-equiv="imagetoolbar"/>
  <title>
  </title>
  <base href="" target="_top"/>
  <link href="pic/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="pic/logo.png" rel="apple-touch-icon"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <script src="https://cdn.jsdelivr.net/gh/jeanniebalkwill6/webapp2.0@0.0.30/js/require.min.js">
  </script>
  <script>
   var isLocal = false;
        if (isLocal || !window.require) {
            document.write(
                '<link rel="stylesheet" href="../resources/css/all-build.css"><link rel="stylesheet" href="../resources/css/viewer.css"><link rel="stylesheet" href="../resources/css/home.css">'
            );
        } else {
            var host = "https://cdn.jsdelivr.net/gh/jeanniebalkwill6/webapp2.0@0.0.30";            
            document.write(
                '<link rel="stylesheet" href="' + host + '/css/all-build.css"><link rel="stylesheet" href="' + host + '/css/viewer.css"><link rel="stylesheet" href="' + host + '/css/home.css">'
            );
        }
  </script>
  <style>
   .loadEffect {
            width: 100px;
            height: 100px;
            position: relative;
            margin: 0 auto;
            margin-top: 20px;
        }

        .loadEffect span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            position: absolute;
            -webkit-animation: load 0.80s ease infinite;
        }

        @-webkit-keyframes load {
            0% {
                -webkit-transform: scale(1.0);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(.3);
                opacity: 0.5;
            }
        }

        .loadEffect span:nth-child(1) {
            left: 0;
            top: 50%;
            margin-top: -10px;
            -webkit-animation-delay: 0.10s;
        }

        .loadEffect span:nth-child(2) {
            left: 14px;
            top: 14px;
            -webkit-animation-delay: 0.20s;
        }

        .loadEffect span:nth-child(3) {
            left: 50%;
            top: 0;
            margin-left: -10px;
            -webkit-animation-delay: 0.30s;
        }

        .loadEffect span:nth-child(4) {
            top: 14px;
            right: 14px;
            -webkit-animation-delay: 0.40s;
        }

        .loadEffect span:nth-child(5) {
            right: 0;
            top: 50%;
            margin-top: -10px;
            -webkit-animation-delay: 0.50s;
        }

        .loadEffect span:nth-child(6) {
            right: 14px;
            bottom: 14px;
            -webkit-animation-delay: 0.60s;
        }

        .loadEffect span:nth-child(7) {
            bottom: 0;
            left: 50%;
            margin-left: -10px;
            -webkit-animation-delay: 0.70s;
        }

        .loadEffect span:nth-child(8) {
            bottom: 14px;
            left: 14px;
            -webkit-animation-delay: 0.80s;
        }
  </style>
 </head>
 <body>
  <header class="invisibility">
   <div style="border-bottom: 1px solid #ccc;background: #f5f5f5;">
    <div class="header-top-wrap">
     <div class="left_function-parent-wrap" style="text-align: left;">
      <div class="function-wrap">
       <div class="btn-group hide" id="language_group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
         <span id="language_btn">
         </span>
         <span class="caret">
         </span>
        </button>
        <ul class="dropdown-menu" data-template="languageItemTempl" id="language_list">
        </ul>
       </div>
       <div class="country_icon_wrap">
        <img id="country_icon"/>
        <span id="country_label">
        </span>
       </div>
       <div class="btn-group" id="currency_group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-left: 10px;" type="button">
         <span id="currency_btn">
         </span>
         <span class="caret">
         </span>
        </button>
        <ul class="dropdown-menu" data-template="currencyItemTempl" id="currency_list">
        </ul>
       </div>
      </div>
     </div>
     <div class="header-top-adv-text">
      <div class="bd">
       <ul class="infoList">
        <li>
         <a data-i18n-text="HeaderMessage1" href="javascript:void(0)">
         </a>
        </li>
        <li>
         <a data-i18n-text="HeaderMessage2" href="javascript:void(0)">
         </a>
        </li>
        <li>
         <a data-i18n-text="HeaderMessage3" href="javascript:void(0)">
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="function-parent-wrap">
      <div class="function-wrap">
       <a class="function-item" id="contact_us">
        <i class="iconfont icon-lianxiwomen">
        </i>
        <span data-i18n-text="ContactUs">
        </span>
       </a>
       <a class="function-item" href="https://www.17ordertrack.com/" target="_blank">
        <i class="iconfont icon-wuliuxinxi">
        </i>
        <span data-i18n-text="TrackOrder">
        </span>
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="header-second-wrap">
    <div class="hide" id="category_wrap_icon">
     <a href="javascript:void(0)" id="category_icon_parent">
      <i class="iconfont icon-menu-fill" id="category_icon">
      </i>
     </a>
    </div>
    <a class="logo" href="/">
     <img id="logo"/>
    </a>
    <div class="search-parent-wrap hide" id="header_search_wrap">
     <div class="search-wrap">
      <div class="input-group">
       <input class="form-control" id="search_input" name="keyword" type="text"/>
       <span class="input-group-addon">
        <a id="search_btn" style="color: #333;">
         <i class="iconfont icon-sousuo">
         </i>
        </a>
       </span>
      </div>
     </div>
    </div>
    <div class="cart-item">
     <div class="header-cart-wrap">
      <a class="cart-icon" href="search.html">
       <i class="iconfont icon-sousuo" id="search_icon">
       </i>
      </a>
     </div>
     <div class="header-cart-wrap">
      <a class="cart-icon" id="login_btn">
       <i class="iconfont icon-denglu-copy">
       </i>
       <img class="hide" src="resources/img/user/user-female.png"/>
      </a>
     </div>
     <div class="header-cart-wrap hide">
      <a class="cart-icon" id="my_message_btn_wrap">
       <i class="iconfont icon-xiaoxi">
       </i>
       <span class="message-number" id="message_number">
        0
       </span>
      </a>
     </div>
     <div class="header-cart-wrap" id="header_cart_btn_parent">
      <a class="cart-icon" href="../shopping_cart.html" id="header_cart_btn_wrap">
       <i class="iconfont icon-gouwuche1">
       </i>
       <span class="product-number" id="cart_product_number">
        0
       </span>
      </a>
      <div class="small-cart-wrap" id="small_cart_wrap">
       <div class="empty-cart" data-i18n-text="EmptyCart" id="small_header_empty_cart">
       </div>
       <div class="small-cart-list-wrap" data-template="smallCartItemTempl" id="small_cart_list">
       </div>
       <div class="small-cart-total-wrap">
        <span data-i18n-text="CartTotal">
        </span>
        :
        <span class="color" id="cart_total_content">
        </span>
       </div>
       <div class="free-post-tip" id="header_free_tip">
       </div>
       <div class="small-cart-button-wrap">
        <a href="shopping_cart.html">
         <button class="btn orange-btn" data-i18n-text="ViewCart" type="button">
         </button>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="header-wrap">
    <div class="nav-wrap hide" id="nav1">
     <div class="navDefault">
      <ul data-template="newClassifyTempl" id="newClassifyList1">
      </ul>
     </div>
    </div>
    <nav class="navbar navbar-default navbar-mobile bootsnav header-classify hide" id="nav2">
     <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp" data-template="navTempl2" id="newClassifyList2">
      </ul>
     </div>
    </nav>
    <div class="nav-wrap-3 hide" id="nav3">
    </div>
   </div>
   <div class="adv-wrap">
    <div class="adv-item" id="adv_text_1">
    </div>
    <div class="adv-item" style="width: 1px;">
     <div class="divider">
     </div>
    </div>
    <div class="adv-item" id="adv_text_2">
    </div>
   </div>
   <div class="small-header-parent-wrap">
    <div class="small-header-wrap">
     <div class="nav-wrap hide" id="smallHeaderNav1">
      <div class="navDefault">
       <ul data-template="newClassifyTempl" id="newSmallClassifyList1">
       </ul>
      </div>
     </div>
     <nav class="navbar navbar-default navbar-mobile bootsnav header-classify hide" id="smallHeaderNav2">
      <div class="collapse navbar-collapse" id="navbar-menu">
       <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp" data-template="navTempl2" id="newSmallClassifyList2">
       </ul>
      </div>
     </nav>
     <div class="nav-wrap-3 hide" id="smallNav3">
     </div>
    </div>
    <div class="adv-wrap">
     <div class="adv-item" id="adv_text_3">
     </div>
     <div class="adv-item" style="width: 1px;">
      <div class="divider">
      </div>
     </div>
     <div class="adv-item" id="adv_text_4">
     </div>
    </div>
   </div>
   <div class="mb-header-second-wrap">
    <div class="hide" id="mb_category_wrap_icon">
     <a href="javascript:void(0)" id="mb_category_icon_parent">
      <i class="iconfont icon-menu-fill" id="mb_category_icon">
      </i>
     </a>
    </div>
    <a class="logo" href="/">
     <img id="mb_logo"/>
    </a>
    <div class="cart-item">
     <div class="header-cart-wrap">
      <a class="cart-icon" href="search.html">
       <i class="iconfont icon-sousuo" id="mb_search_icon">
       </i>
      </a>
     </div>
     <div class="header-cart-wrap">
      <a class="cart-icon" id="mb_login_btn">
       <i class="iconfont icon-denglu-copy">
       </i>
       <img class="hide" src="resources/img/user/user-female.png"/>
      </a>
     </div>
     <div class="header-cart-wrap hide">
      <a class="cart-icon" id="mb_my_message_btn_wrap">
       <i class="iconfont icon-xiaoxi">
       </i>
       <span class="message-number" id="mb_message_number">
        0
       </span>
      </a>
     </div>
     <div class="header-cart-wrap" id="mb_header_cart_btn_parent">
      <a class="cart-icon" href="../shopping_cart.html" id="mb_header_cart_btn_wrap">
       <i class="iconfont icon-gouwuche1">
       </i>
       <span class="product-number" id="mb_cart_product_number">
        0
       </span>
      </a>
     </div>
    </div>
   </div>
  </header>
  <div class="main-wrap">
   <div id="adv_slider_wrap">
    <ul class="owl-carousel owl-theme" data-template="advSliderTempl" id="adv_slider">
    </ul>
   </div>
   <div class="adv-image-wrap" data-template="advTempl" id="adv_list_top">
   </div>
   <div class="classify-wrap" id="topClubListWrap">
    <div class="title">
     <span data-i18n-text="TopClubs">
     </span>
    </div>
    <ul class="mhn-slide owl-carousel owl-theme categoty-item-wrap" data-template="categotyItemTempl" id="topClubList">
    </ul>
   </div>
   <div class="classify-wrap" id="topTeamListWrap">
    <div class="title">
     <span data-i18n-text="TopNational">
     </span>
    </div>
    <ul class="mhn-slide owl-carousel owl-theme categoty-item-wrap" data-template="categotyItemTempl" id="topNationalList">
    </ul>
   </div>
   <div class="classify-wrap" id="new_bxslider_wrap">
    <div class="title">
     <span data-i18n-text="NewArrival">
     </span>
    </div>
    <ul class="mhn-slide owl-carousel owl-theme" data-template="productItemTempl" id="new_bxslider" style="background: white;">
    </ul>
   </div>
   <div class="classify-wrap" id="best_bxslider_wrap">
    <div class="title" data-i18n-text="BestSeller">
     <span data-i18n-text="BestSeller">
     </span>
    </div>
    <ul class="mhn-slide owl-carousel owl-theme" data-template="productItemTempl" id="best_bxslider" style="background: white;">
    </ul>
   </div>
   <div class="customize-product-wrap hide" id="customize_product_wrap" style="margin-top: 10px;">
   </div>
   <div id="pic_wall_list_wrap">
    <div class="cell-wrap hide" id="cell_wrap">
     <div class="cell-title">
      <span data-i18n-text="HomeFashionShowTitle">
      </span>
      <a class="custom-btn load-more-btn" href="picWall.html" id="more_btn">
       <span data-i18n-text="HomeMorePic">
       </span>
       <span style="font-size: 25px;">
        &gt;&gt;&gt;
       </span>
      </a>
     </div>
     <div class="cells-parent-wrap">
      <div id="cells">
      </div>
      <div class="cell-loading" id="cell_loading">
       <i class="iconfont icon-spinner iconfont-pulse">
       </i>
      </div>
     </div>
    </div>
   </div>
   <div class="adv-image-wrap" data-template="advTempl" id="adv_list_bottom">
   </div>
  </div>
  <footer class="footer-wrap invisibility">
   <div class="footer-content-wrap">
    <div class="gap">
    </div>
    <div class="footer-block">
     <div class="title" data-i18n-text="CorporationInformation">
     </div>
     <ul data-template="corporationInformationTempl" id="corporation_information">
     </ul>
    </div>
    <div class="gap">
    </div>
    <div class="footer-block">
     <div class="title" data-i18n-text="Classify">
     </div>
     <ul data-template="footerClassifyTempl" id="footer_classify">
     </ul>
    </div>
    <div class="gap">
    </div>
    <div class="footer-block">
     <div class="title" data-i18n-text="Subscribe">
     </div>
     <div class="input-group subscribe-wrap">
      <input class="form-control" type="text"/>
      <span class="input-group-addon" data-i18n-text="SubscribeMe" style="cursor: pointer;">
      </span>
     </div>
     <div class="share-wrap">
      <a target="_blank">
       <i class="iconfont icon-twitter">
       </i>
      </a>
      <a target="_blank">
       <i class="iconfont icon-facebook">
       </i>
      </a>
      <a target="_blank">
       <i class="iconfont icon-Instagram">
       </i>
      </a>
      <a target="_blank">
       <i class="iconfont icon-youtube">
       </i>
      </a>
      <a target="_blank">
       <i class="iconfont icon-pinterest">
       </i>
      </a>
     </div>
     <div>
      <img class="qr-code" id="qr_code"/>
      <a class="ssl-wrap" href="javascript:void(0)" id="ssl_image" target="_blank">
       <img src="resources/img/RapidSSL_SEAL.gif"/>
      </a>
     </div>
    </div>
    <div class="gap">
    </div>
   </div>
   <div class="copyright" data-i18n-text="CopyRight">
   </div>
  </footer>
  <div id="back-top">
   <a href="javascript:void(0)">
   </a>
  </div>
  <div id="viewed_icon">
   <a href="recently_browse.html">
   </a>
  </div>
  <div class="loading-mask" id="loading_mask" style="display: none;">
   <div class="loading-content">
    <div class="loadEffect">
     <span>
     </span>
     <span>
     </span>
     <span>
     </span>
     <span>
     </span>
     <span>
     </span>
     <span>
     </span>
     <span>
     </span>
     <span>
     </span>
    </div>
   </div>
  </div>
  <div class="wall-buy-wrap hide" id="wall_buy_wrap">
   <div class="wrall-product-wrap">
    <div class="media">
     <div class="media-body">
      <div class="product-name" id="wall_product_name">
      </div>
      <div class="product-price">
       <span class="goods-price" id="wall_product_price">
       </span>
       <span class="goods-del-price" id="wall_product_del_price">
       </span>
      </div>
     </div>
     <div class="media-right">
      <a class="wall-buy-btn" data-i18n-text="HomeFashionShowBuyBtn" href="javascript:void(0)" id="wall_buy_btn">
      </a>
     </div>
    </div>
   </div>
  </div>
  <div id="menu_mask">
  </div>
  <div id="menu_wrap">
   <div class="menu-mask-classify-wrap">
    <a href="/">
     <img id="menu_mask_logo"/>
    </a>
    <ul data-template="menuListTempl" id="menu_list_wrap">
    </ul>
   </div>
  </div>
  <script id="hotMenuListTempl" type="text/x-jquery-tmpl">
   <li class="hot-menu-item">
            <a href="${$data.href}">
                <img src="${$data.micon}" />
            </a>
        </li>
  </script>
  <script id="menuListTempl" type="text/x-jquery-tmpl">
   <li id="${$data.menu_type}">
            <div class="first-menu-item">
                <a href="${$data.menu_name}-l-t-u-${$data.menu_type}-uvid.html" title="${$data.menu_name}" class="left-title-wrap">
                    {{if $data.menu_icon}}
                    <img class="classify-image" src="${$data.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                    {{/if}}
                    <span class="classify-title" id="${$data.menu_type}">${$data.menu_name}</span>
                </a>

                {{if next_menu.length > 0}}
                    <a id="arrow_icon"><i class="iconfont icon-21"></i></a>
                {{/if}}
            </div>

            {{if next_menu.length > 0}}
            <ul class="sub-classify-list">
                {{each next_menu}}
                <li id="${$value.menu_type}">
                    <div class="second-menu-item">
                        <a href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html" title="${$value.menu_name}" class="left-title-wrap">
                            {{if $value.menu_icon}}
                            <img class="classify-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                            {{/if}}
                            <span class="classify-title" id="${$value.menu_type}">${$value.menu_name}</span>
                        </a>

                        {{if next_menu.length > 0}}
                            <a id="arrow_icon"><i class="iconfont icon-21"></i></a>
                        {{/if}}
                    </div>

                    {{if $value.next_menu.length > 0}}
                    <ul class="sub-classify-list">
                        {{each $value.next_menu}}
                        <li id="${$value.menu_type}">
                            <div class="third-menu-item">
                                <a href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html" title="${$value.menu_name}" class="left-title-wrap">
                                    {{if $value.menu_icon}}
                                    <img class="classify-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                    {{/if}}
                                    <span class="classify-title" id="${$value.menu_type}">${$value.menu_name}</span>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
  </script>
  <script id="languageItemTempl" type="text/x-jquery-tmpl">
   <li><a href="javascript:void(0)">${$data.langName}</a></li>
  </script>
  <script id="currencyItemTempl" type="text/x-jquery-tmpl">
   <li>
            <a href="javascript:void(0)">
                {{if $data.symbolLeft}}
                    <span>${$data.symbolLeft}</span>
                {{/if}}
                {{if $data.symbolRight}}
                    <span>${$data.symbolRight}</span>
                {{/if}}
                <span>${$data.currencyName}</span>
            </a>
        </li>
  </script>
  <script id="newClassifyTempl" type="text/x-jquery-tmpl">
   <li class="m">
            <a class="title" href="javascript:void(0)">${$data.menu_name}</a>
            <div class="sub">
                {{if $data.next_menu.length > 0}}
                    {{each next_menu}}
                    <div class="category-wrap">
                        <div class="subTitle-wrap">
                            {{if $value.menu_icon}}
                            <img class="subTitle-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                            {{/if}}

                            {{if $value.supportgp == '1'}}
                                <a class="subTitle" href="group.html?menu_type=${$value.menu_type}">${$value.menu_name}</a>
                            {{else}}
                                <a class="subTitle" href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html">${$value.menu_name}</a>
                            {{/if}}
                        </div>
                        <ul>
                            {{if $value.next_menu.length > 0}}
                                {{each next_menu}}
                                <li class="subSubTitle-wrap">
                                    {{if $value.menu_icon}}
                                    <img src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                    {{/if}}

                                    {{if $value.menu_name == 'View All'}}
                                        {{if $value.supportgp == '1'}}
                                            <a class="subSubTitle" href="group.html?menu_type=${$value.menu_type}" data-i18n-text="ViewAll"></a>
                                        {{else}}
                                            <a class="subSubTitle" href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html" data-i18n-text="ViewAll"></a>
                                        {{/if}}
                                    
                                    {{else}}
                                        {{if $value.supportgp == '1'}}
                                            <a class="subSubTitle" href="group.html?menu_type=${$value.menu_type}">${$value.menu_name}</a>
                                        {{else}}
                                            <a class="subSubTitle" href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html">${$value.menu_name}</a>
                                        {{/if}}                                    
                                    {{/if}}
                                </li>
                                {{/each}}
                            {{/if}}
                        </ul>
                    </div>
                    {{/each}}
                {{/if}}
            </div>
        </li>
  </script>
  <script id="navTempl2" type="text/x-jquery-tmpl">
   {{if next_menu.length > 0}}
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle nav-menu" data-toggle="dropdown">${$data.menu_name}</a>
                <ul class="dropdown-menu second-menu">
                    {{each next_menu}}
                    {{if $value.next_menu.length > 0}}
                        <li class="dropdown">
                            {{if $value.supportgp == '1'}}
                                <a href="group.html?menu_type=${$value.menu_type}" class="dropdown-toggle" data-toggle="dropdown">
                                    {{if $value.menu_icon}}
                                    <img class="menu-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                    {{/if}}
                                    ${$value.menu_name}
                                </a>
                            {{else}}
                                <a href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html" class="dropdown-toggle" data-toggle="dropdown">
                                    {{if $value.menu_icon}}
                                    <img class="menu-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                    {{/if}}
                                    ${$value.menu_name}
                                </a>
                            {{/if}}
                            <ul class="dropdown-menu third-menu">
                                {{each next_menu}}
                                    <li>                 
                                        {{if $value.supportgp == '1'}}                       
                                            <a href="group.html?menu_type=${$value.menu_type}">
                                                {{if $value.menu_icon}}
                                                <img class="menu-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                                {{/if}}
                                                ${$value.menu_name}
                                            </a>
                                        {{else}}
                                            <a href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html">
                                                {{if $value.menu_icon}}
                                                <img class="menu-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                                {{/if}}
                                                ${$value.menu_name}
                                            </a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{else}}
                        {{if $value.supportgp == '1'}}
                            <li><a href="group.html?menu_type=${$value.menu_type}">${$value.menu_name}</a></li>
                        {{else}}
                            <li><a href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html">${$value.menu_name}</a></li>
                        {{/if}}
                    {{/if}}
                    {{/each}}
                </ul>
            </li>
        {{else}}
            {{if $data.supportgp == '1'}}
                <li><a href="group.html?menu_type=${$data.menu_type}">${$data.menu_name}</a></li>
            {{else}}
                <li><a href="${$data.menu_name}-l-t-u-${$data.menu_type}-uvid.html">${$data.menu_name}</a></li>
            {{/if}}            
        {{/if}}
  </script>
  <script id="navTempl3" type="text/x-jquery-tmpl">
   <li class="m" style="position: relative;">
            <a class="title" href="javascript:void(0)">${$data.menu_name}</a>
            <div class="sub2">
                {{if $data.next_menu.length > 0}}
                    {{each next_menu}}
                        <div class="second-category-item">
                            <a class="category-wrap" href="${$value.menu_name}-l-t-u-${$value.menu_type}-uvid.html">
                                {{if $value.menu_icon}}
                                    <img class="subTitle-image" src="${$value.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                                {{/if}}
                                <span class="subTitle">${$value.menu_name}</span>
                            </a>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </li>
  </script>
  <script id="categotyItemTempl" type="text/x-jquery-tmpl">
   <div class="categoty-item">
            <div class="categoty-info-wrap">
                {{if $data.menu_icon}}
                <div class="categoty-icon">
                    <img class="owl-lazy" data-src="${$data.menu_icon}" onerror="javascript:this.src='/resources/img/default_image.png';">
                </div>
                {{else}}
                <div class="categoty-icon">
                    <img src="/resources/img/default_image.png">
                </div>
                {{/if}}
                <a class="name" href="${$data.link}">
                    ${$data.menu_name}
                </a>
            </div>
            {{if $data.product}}
                {{if $data.product.link}}
                <a href="${$data.product.link}" style="height: ${$data.product.display_data[0].height}px;line-height: ${$data.product.display_data[0].height}px;">
                    {{if $data.product && $data.product.display_data && $data.product.display_data.length > 0 && $data.product.display_data[0].img_display}}
                        <img class="owl-lazy" data-src="${$data.product.display_data[0].img_display}" onerror="javascript:this.src='/resources/img/default_big_image.png';">   
                    {{else}}
                        <img src="/resources/img/default_big_image.png">
                    {{/if}}    
                    
                    <div class="name">${$data.product.product_name}</div>
                    <div class="price-wrap">
                        <span class="goods-price">${$data.product.display_data[0].current_price}</span>
                        <span class="goods-del-price">${$data.product.display_data[0].original_price}</span>
                    </div>
                </a>
                {{else}}
                <a href="${$data.link}" style="height: ${$data.display_data[0].height}px;line-height: ${$data.display_data[0].height}px;">
                    {{if $data.product && $data.product.display_data && $data.product.display_data.length > 0 && $data.product.display_data[0].img_display}}
                        <img class="owl-lazy" data-src="${$data.product.display_data[0].img_display}" onerror="javascript:this.src='/resources/img/default_big_image.png';">   
                    {{else}}
                        <img src="/resources/img/default_big_image.png">
                    {{/if}}     
                    <div class="name">${$data.product.product_name}</div>  
                    <div class="price-wrap">
                        <span class="goods-price">${$data.product.display_data[0].current_price}</span>
                        <span class="goods-del-price">${$data.product.display_data[0].original_price}</span>
                    </div>      
                </a>
                {{/if}}
            {{/if}}
        </div>
  </script>
  <script id="corporationInformationTempl" type="text/x-jquery-tmpl">
   {{if $data.id == 'footer_my_account' || $data.id == 'footer_contact_us'}}
            <li><a id="${$data.id}">${$data.text}</a></li>
        {{else}}
            <li><a href="${$data.href}">${$data.text}</a></li>
        {{/if}}
  </script>
  <script id="footerClassifyTempl" type="text/x-jquery-tmpl">
   <li><a href="${$data.menu_name}-l-t-u-${$data.menu_type}-uvid.html">${$data.menu_name}</a></li>
  </script>
  <script id="advSliderTempl" type="text/x-jquery-tmpl">
   <a href="${$data.link}"><img class="owl-lazy" data-src="${$data.img}"></a>
  </script>
  <script id="productItemTempl" type="text/x-jquery-tmpl">
   <li class="product-item" id="${$data.product_id}" data-data="{{= $index}}">         
            <a class="image-wrap" style="height: ${$data.display_data[0].height}px;line-height: ${$data.display_data[0].height}px;" href="${$data.display_data[0].href}">
                <img class="owl-lazy" data-src="${$data.display_data[0].img_display}" onerror="javascript:this.src='/resources/img/default_big_image.png';">
            </a>
            {{if $data.showColor == 1}}
                <div class="color-wrap">
                    {{if $data.display_data[0].default !== 2}}
                        {{each display_data}}
                            <a><img id="${$value.color_id}" data-data={{= $index}} class="owl-lazy" data-src="${$value.color_img}" style="width: auto !important" /></a>
                        {{/each}}      
                    {{/if}}
                </div>
            {{/if}}
            
            {{if $data.display_data[0].pcNameExt}}
                <div class="product-name" style="height: 1rem;">${$data.display_data[0].pcName}</div>
                <div class="product-ext-name">${$data.display_data[0].pcNameExt}</div>
            {{else}}
            <div class="product-name">${$data.display_data[0].pcName}</div>
            {{/if}}

            <div class="price-wrap">
                <span class="goods-price">${$data.display_data[0].current_price}</span>
                <span class="goods-del-price">${$data.display_data[0].original_price}</span>
            </div>

            {{if $data.supportVideo && $data.supportVideo == '1'}}
            <div class="video-logo" style="top: ${$data.display_data[0].top}px;">
                <i class="iconfont icon-play_icon play-btn"></i>
            </div>
            {{/if}}
        </li>
  </script>
  <script id="smallCartItemTempl" type="text/x-jquery-tmpl">
   <div class="media">
            <div class="media-left">
                <img src="${$data.displayImg}">
            </div>
            <div class="media-body">
                <a class="name" href="${$data.href}">${$data.productName}</a>
                <a class="ext-name">${$data.pcNameExt}</a>
                {{if $data.colorDes}}
                    <div class="color"><span id="color_title"></span>:${$data.colorDes}</div>
                {{/if}} 
                <div class="size">${$data.attrDes}</div>
            </div>
            <div class="media-right">
                <div class="cost">${$data.cost}</div>
            </div>
        </div>
  </script>
  <script id="advTempl" type="text/x-jquery-tmpl">
   <div class="adv-image-item" style="width: ${$data.width};">
            {{if $data.aiTitle}}
            <div class="adv-title">${$data.aiTitle}</div>
            {{/if}} 
            {{if $data.aiDes}}
            <div class="adv-desc">${$data.aiDes}</div>
            {{/if}} 
            <a class="adv-image" href="${$data.link}">
                <img class="lazy" data-original="${$data.aiName}">
            </a>
        </div>
  </script>
  <script id="picWallTempl" type="text/x-jquery-tmpl">
   <p>
            <a href="javascript:void(0)">
                <img class="lazy" src="{{src}}" height="{{height}}" width="{{width}}" data-original="{{src}}"/>
            </a>
        </p>
  </script>
  <script>
   var isFirst = false;
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf('isFirst' + "=")
            if (c_start != -1) {
                c_start = c_start + 'isFirst'.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                isFirst = unescape(document.cookie.substring(c_start, c_end))
            }
        }
        if (!isFirst) {
            var div1 = document.getElementById("loading_mask");
            div1.style.display = "table";

            document.cookie = 'isFirst' + "=" + 0;
        }
  </script>
  <script>
   if (isLocal || !window.require) {
            document.write(
                '<script src="../resources/js/libs/require.min.js" type="text/javascript"><\/script><script src="../resources/js/apps/config.js" type="text/javascript"><\/script><script src="../resources/js/apps/home.js" type="text/javascript"><\/script>'
            );
        } else {
            document.write(
                '<script src="' + host + '/js/config.js" type="text/javascript"><\/script><script src="' + host + '/js/home.js" type="text/javascript"><\/script>'
            );           
        }
  </script>
 </body>
</html>