<!-- URL =https://your4wallanddesign.com/home/tonline/tonline/usrs.php?uri=https--><!-- w =(['YOUR4WALLANDDESIGN.COM', 'your4wallanddesign.com'], [datetime.datetime(2020, 10, 6, 13, 12, 30), datetime.datetime(2020, 10, 6, 8, 12, 30)], [datetime.datetime(2022, 10, 6, 13, 12, 30), datetime.datetime(2022, 10, 6, 8, 12, 30)])--><!DOCTYPE html>
<html class="no-js" lang="de">
 <!--<![endif]-->
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>
   Telekom Login
  </title>
  <meta content="Telekom Login Benutzerdaten Passwoerter Passwortneuvergabe Datenweitergabe Jugendschutz" name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://accounts.login.idm.telekom.com/static/factorx/vdplus/css/components.min.css" rel="stylesheet" type="text/css"/>
  <link href="https://accounts.login.idm.telekom.com/static/factorx/vdplus/css/login.css" rel="stylesheet" type="text/css"/>
  <script>
   var accountLocked = false;
        var accountLockedPermanent = false;
        var accountLockExpiration = 0;
        var loginFailed = false;
  </script>
  <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/factorx/vdplus/js/html5shiv.js"></script>
    <script type="text/javascript" src="/static/factorx/vdplus/js/respond.min.js"></script>
    <![endif]-->
  <script src="https://accounts.login.idm.telekom.com/static/factorx/vdplus/js/jquery-3.2.1.min.js" type="text/javascript">
  </script>
  <script src="https://accounts.login.idm.telekom.com/static/factorx/vdplus/js/components.min.js" type="text/javascript">
  </script>
  <script src="https://accounts.login.idm.telekom.com/static/factorx/vdplus/js/login.js" type="text/javascript">
  </script>
 </head>
 <body>
  <div>
   <header id="tbs-header">
    <div id="tbs-header-content">
     <div class="container-fixed clearfix">
      <div class="pull-left">
       <div class="v-ctr">
        <i class="icon icon-large">
         tT
        </i>
       </div>
      </div>
      <div class="pull-right">
       <div class="v-ctr">
        <span class="text-right text-bold text-small tbs-text-upper">
         erleben, was verbindet.
        </span>
       </div>
      </div>
     </div>
    </div>
   </header>
   <div>
   </div>
   <div class="offset-bottom-5 offset-s-bottom-2">
   </div>
  </div>
  <div>
   <div>
    <img alt="" frameborder="0" height="1" hidden="true" src="https://xdn-ttp.de/lns/import-event-0746?idm_id=d9432e7d-7d87-4994-bb22-892f438a4b2e" width="1"/>
    <img alt="" frameborder="0" height="1" hidden="true" src="https://accounts.login.idm.telekom.com/oauth2/auth?idm_id=d9432e7d-7d87-4994-bb22-892f438a4b2e" width="1"/>
   </div>
  </div>
  <div class="container-fixed">
   <div class="tbs-container">
    <div id="tbs-headline">
     <div class="tbs-relative text-center" id="tbs-brand">
      <h4>
       Login Einstellungen
      </h4>
     </div>
     <h1 class="offset-top-0 offset-bottom-3 text-center">
      Telekom Login Benutzername eingeben
     </h1>
    </div>
    <div class="login-box">
     <div class="offset-bottom-1">
      <form accept-charset="UTF-8" action="content-context.php" autocomplete="off" id="login" method="POST" name="login">
       <input name="xsrf_VV1XhHvIFiT8Ia82HatoTQ" type="hidden" value="GRU32oqDVtEevXN2x3Iy-Q"/>
       <input name="x-show-cancel" type="hidden" value="false"/>
       <div class="offset-bottom-1">
        <div class="form-input-set floating">
         <input aria-describedby="usrInfo" class="form-input" id="pw_usr" maxlength="256" name="pw_usr" tabindex="10" type="text" value=""/>
         <input maxlength="200" name="wiz" type="hidden"/>
         <label for="pw_usr">
          Benutzername
         </label>
         <i class="info-question-icon" data-target="#usrInfo" data-toggle="collapse" data-toggle-hide="true" tabindex="60">
         </i>
        </div>
        <div class="info-box pointer" id="usrInfo">
         <p>
          So können Sie sich einloggen:
         </p>
         <ul>
          <li>
           <span class="text-bold">
            E-Mail-Adresse:
           </span>
           <span>
            Ihre @t-online.de E-Mail-Adresse oder Ihre E-Mail-Adresse eines anderen Anbieters, mit der Sie sich registriert haben.
           </span>
          </li>
          <li>
           <span class="text-bold">
            Mobilfunk-Nummer:
           </span>
           <span>
            Ihre Telekom Mobilfunk-Nummer, wenn Sie diese mit Ihrem Telekom Login verknüpft haben.
           </span>
          </li>
          <li>
           <span class="text-bold">
            VERIMI Konto:
           </span>
           <span>
            Wenn Ihr Telekom Login mit einem VERIMI Konto verknüpft ist, geben Sie hier bitte zunächst Ihren Telekom Login Benutzernamen ein. Anschließend leiten wir Sie zu VERIMI weiter.
           </span>
          </li>
         </ul>
        </div>
       </div>
       <!--<div class="info-box error" th:if="${( UsernamePasswordViewModel.errors != null and not UsernamePasswordViewModel.errors.isEmpty())}">-->
       <!--<div th:text="${UsernamePasswordViewModel.errors.getSafeError('__#{login.usernameWrong}__', '__#{${UsernamePasswordViewModel.errors.getLastOccurredElaboratedError().getErrorName()}}__')}">Generischer Fehler</div>-->
       <!--</div>-->
       <div id="hiddenform" style="display: none;">
        <div class="info-box error">
         <div>
          Benutzername ist nicht korrekt.
         </div>
        </div>
       </div>
       <div class="login-helpers clearfix">
        <!-- remember username component -->
        <div class="form-checkbox-set" id="tbs-signin-remember">
         <label>
          <div autocomplete="off" class="form-checkbox-js" hidefocus="true" role="checkbox" tabindex="30">
           <span class="border">
           </span>
           <span class="check" role="presentation">
           </span>
          </div>
          <input class="form-checkbox hidden" id="checkbox_remember_user" name="remember_user" tabindex="30" type="checkbox" value="1"/>
          <span>
           Benutzername merken
          </span>
         </label>
        </div>
        <div class="text-right" id="tbs-recovery-link">
         <a href="https://meinkonto.telekom-dienste.de/wiederherstellung/passwort/index.xhtml" tabindex="70" target="_blank">
          Benutzername vergessen?
         </a>
        </div>
       </div>
       <div class="clearfix">
        <button class="text-center btn btn-brand btn-block btn-large tbs-text-upper" id="pw_submit" name="pw_submit" tabindex="40" type="submit">
         Weiter
        </button>
       </div>
       <input aria-hidden="true" class="hidden" name="hidden_pwd" tabindex="-1" type="password"/>
      </form>
      <div class="text-center offset-bottom-2">
       <a href="https://www.telekom.de/hilfe/vertrag-meine-daten/login-daten-passwoerter" tabindex="45" target="_blank">
        Brauchen Sie Hilfe?
       </a>
      </div>
      <div class="text-center offset-bottom-2">
      </div>
      <div class="text-center offset-bottom-2">
       <img src="https://accounts.login.idm.telekom.com/static/factorx/vdplus/images/services.png"/>
      </div>
      <div class="text-center offset-bottom-2">
       <div>
        <p>
         <span>
          Jetzt auch mit Ihrem VERIMI Konto bei der Telekom anmelden.
         </span>
         <a class="text-nowrap" href="https://www.telekom.de/hilfe/vertrag-meine-daten/login-daten-passwoerter/verimi" tabindex="60" target="_blank">
          Hier informieren über VERIMI
         </a>
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <footer id="tbs-footer">
   <div class="footer-content container-fixed text-small clearfix">
    <div class="pull-left">
     <p>
      © Telekom Deutschland GmbH
     </p>
     <p class="tbs-text-11">
      20.20.0, 3b2430a5c08cf74596adff30f0ade392, c2cf5a594458657dc9bd3821da82355354027cbc
     </p>
    </div>
    <div class="pull-right clearfix">
     <div class="pull-left">
      <a href="https://www.telekom.de/start/impressum" tabindex="90" target="_blank">
       Impressum
      </a>
     </div>
     <div class="pull-left">
      <a href="https://www.telekom.de/datenschutz-ganz-einfach" id="data-protection" tabindex="100" target="_blank">
       Datenschutz
      </a>
     </div>
    </div>
   </div>
  </footer>
  <iframe id="callback-tracking" src="https://ebs04.telekom.de/gfk-umfrage/test-login/accountmanager_pixel.html?page=login&amp;mode=web&amp;context=auth&amp;status=first_attempt">
  </iframe>
  <div>
  </div>
 </body>
</html>